# .detect-secrets configuration
# See: https://github.com/Yelp/detect-secrets
exclude:
  files: ^node_modules/
  lines: null
plugins:
  - name: AWSKeyDetector
  - name: ArtifactoryDetector
  - name: AzureStorageKeyDetector
  - name: CloudantDetector
  - name: GitHubTokenDetector
  - name: HexHighEntropyStringDetector
  - name: IbmCloudIamDetector
  - name: IbmCosHmacDetector
  - name: JwtTokenDetector
  - name: KeywordDetector
  - name: MailchimpDetector
  - name: NpmDetector
  - name: PrivateKeyDetector
  - name: SlackDetector
  - name: SoftlayerDetector
  - name: StripeDetector
  - name: TwilioKeyDetector
